#Assignment Day 06

###***Question 1: Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.***
- Input Format:
The first line of the input contains an email address.
- Output Format:
Print the company name in single line.
Example;
- Input:
john@google.com
- Output:
google
---

In [ ]:
email = input('Enter your email address : ')
email = email.split('@')[1]
email = email.split('.')[0]
print('Company name : ',email)

Enter your email address : john@google.com
Company name :  google

###***Question 2: Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.***
- Input Format:
The first line of input contains words separated by the comma.
- Output Format:
Print the sorted words separated by the comma.
- Example:
 - Input:
without,hello,bag,world
 - Output:
bag,hello,without,world
---

In [ ]:
items = input()
for word in items:
  items.split(',')
print(",".join(sorted(list(set(words)))))

without,hello,bag,world
bag,hello,without,world

###***Question 3: Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp***

In [ ]:
set1 = {"hello", "hii", "hey"}
print(set1)

{'hii', 'hello', 'hey'}

In [ ]:
#To check whether it is avaible or not
print("hey" in set1)

True

In [ ]:
#To add 
set1.add("good moring")
print(set1)

{'good moring', 'hii', 'hello', 'hey'}

In [ ]:
#To update
set1.update(["letsUpgrade", "AiML", "Zahoor"])
print(set1)

{'AiML', 'letsUpgrade', 'good moring', 'hii', 'hello', 'Zahoor'}

In [ ]:
#Get the Length of a Set
print(len(set1))

7

In [ ]:
# Remove Item
set1 = {'AiML', 'letsUpgrade', 'good moring', 'hii', 'hello', 'Zahoor'}
print(set1)
set1.remove('Zahoor')
print(set1)

{'AiML', 'letsUpgrade', 'good moring', 'hii', 'hello', 'Zahoor'}
{'AiML', 'letsUpgrade', 'good moring', 'hii', 'hello'}

In [ ]:
# Remove "hello" by using the discard() method
set1 = {'AiML', 'letsUpgrade', 'good moring', 'hii', 'hello', 'Zahoor'}
print(set1)
set1.discard('hello')
print(set1)

{'AiML', 'letsUpgrade', 'good moring', 'hii', 'hello', 'Zahoor'}
{'AiML', 'letsUpgrade', 'good moring', 'hii', 'Zahoor'}

In [ ]:
# Remove the last item by using the pop() method
set2 = {'letsUpgrade', 'good moring', 'hii', 'hello', 'Zahoor','AiML'}
print(set2)
set2.pop()
print(set2)

{'AiML', 'letsUpgrade', 'good moring', 'hii', 'hello', 'Zahoor'}
{'letsUpgrade', 'good moring', 'hii', 'hello', 'Zahoor'}

In [ ]:
# The clear() method empties the set
set2.clear()
print(set2)

set()

In [ ]:
# del keyword will delete the set completely
set2 = {'letsUpgrade', 'good moring', 'hii', 'hello', 'Zahoor','AiML'}
print(set2)
del set2
print(set2)

#this will raise an error because the set no longer exists

In [ ]:
# union() method returns a new set with all items from both sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

###***Question 4: Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.***
- Input Format:
The first line contains n-1 numbers with each number separated by a space.
- Output Format:
- Print the missing number
 - Example:
 - Input:1 2 4 6 3 7 8
 - Output:5
- Explanation:
In the above list of numbers 5 is missing and hence 5 is the input
---

In [44]:
lstt = (input())
A = []
A.append(lstt)
print(*A)

1 2 4 6 3 7 8
1 2 4 6 3 7 8

In [56]:
def getMissingNo(A): 
	n = len(A) 
	total = (n + 1)*(n + 2)/2
	sum_of_A = sum(A) 
	return total - sum_of_A 

miss = getMissingNo(A) 
print(int(miss))

5

###***Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.***
- Example:
 - If the input list is
12 24 35 24 88 120 155 88 120 155
 - Then the output should be
12 24 35 88 120 155
- Explanation:
 - Third, seventh and ninth element of the list L has been removed because it was already present.
- Input Format:
- In one line take the elements of the list L with each element separated by a space.
- Output Format:
- Print the elements of the modified list in one line with each element separated by a space.
-Example:
 - Input: 12 24 35 24
 - Output:
12 24 35
.

In [ ]:
l = list(map(int,input().strip().split()))
new_l = []
for x in l:
  if x not in new_l:
    new_l.append(x)
print(*new_l)

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155

In [ ]:
l = list(map(int,input().strip().split()))
new_l = []
for x in l:
  if x not in new_l:
    new_l.append(x)
print(*new_l)

12 24 35 24
12 24 35